<%-include('cabecalho')%>
<%-include('rodape')%>

<h1>lista de eventos</h1>
<table>
    <tr>
        <th>nome do evento</th>
        <th>data do evento</th>
        <th>local do evento</th>
    </tr>
    
</table>