<%-include('cabecalho')%>
<%-include('rodape')%>
<form methode="post">
    <label for="nome">nome</label>
    <input ype="text" id="nome"/>
    <label for="inscricao">inscrição do participante</label>
    <input ype ='text' id = 'inscricao'/>
</form>